<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>WoolNet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        

        <link rel="stylesheet" th:href="@{/css/main.css}">
        
        <script src="https://kit.fontawesome.com/929bc70b66.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="root">
        </div>
        <script th:src="@{/js/main.js}"></script>
    </body>

</html>